<link rel="stylesheet" href="/CSS/includesCss/navbar.css">
<style>
    /* .notification {
        width: 41px;
        height: 41px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition-duration: .3s;
        background: var(----box-shadow-color);
        box-shadow: var(--notificationShadow-color);
        border: none;
        margin-right: 10px;
    }*/
</style>
<style>
    .line {
        width: 50px;
        height: 8px;
        margin: 5px 0px;
        border-radius: 0%;
        background-color: var(--sidebutton-color);
    }

    .point {
        width: 10px;
        margin: 5px 0px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--sidebutton-color);
    }

    .burgurs {
        display: none;
        align-items: center;

    }

    .inner_burgur {
        margin: 0px 10px;
        cursor: pointer;
    }

    @media screen and (max-width:800px) {
        .right {
            display: none;
            position: absolute;
            flex-direction: column;
            right: 10px;
            top: 90px;
            box-shadow: var(--forminputShadow);
            background-color: var(--tableRowsColor);
            z-index: 10;
        }

        .burgurs {
            display: flex;
        }
    }
</style>

<nav>


    <div class="menu left">
        <div class="hamburgur_head">
            <div class="botimg">
                <a href="/Questgpt"> <img src="/images/QuestBotrm2.png" alt="" srcset=""></a>
            </div>
            <div class="logo">
                <a href="/">Quest</a>
            </div>

        </div>


    </div>


    <div class="right">


        <% if (itself) { %>

            <% if (itself.Role=='Admin' ) { %>
                <div class="name">
                    <img src="/images/profilelogo.png" alt="profile" class="alllogos">
                    <span>
                        Admin
                        <br>
                        ""<%= itself.Role %>""
                    </span>
                </div>

                <% } else { %>
                    <div class="name">
                        <a href="/student/<%= itself.information._id  %>"> <img
                                src="<%=  itself.information.profileImg %>" alt="profile" class="alllogos"></a>
                        <span>
                            <%= itself.information.username %>
                                <br>
                                ""<%= itself.Role %>""
                        </span>


                    </div>
                    <% } %>



                        <% } %>


                            <div class="logout-container">
                                <a href="/logout" class="logout-button">
                                    <img src="/images/logout.png" alt="Logout Icon" class="logout-icon">
                                    Logout
                                </a>
                            </div>

                            <div class="theme-toggle">
                                <input type="checkbox" id="theme-switch" class="theme-switch" onclick="handleTheme()" />
                                <label for="theme-switch" class="toggle-label">
                                    <div class="icon-container">
                                        <img src="/images/sun.png" alt="Light Mode" class="icon sun-icon">
                                        <img src="/images/moon.png" alt="Dark Mode" class="icon moon-icon">
                                    </div>
                                </label>
                            </div>




    </div>
    <div class="burgurs">


        <div class="sidebarBurgur inner_burgur">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="logoutBurgur inner_burgur">
            <div class="point"></div>
            <div class="point"></div>
            <div class="point"></div>
        </div>

    </div>
</nav>
<script>
    document.querySelector('.logoutBurgur').addEventListener('click', (event) => {
        const rightElement = document.querySelector('.right')
        let element_style = window.getComputedStyle(rightElement)
        if (element_style.display == 'none') {
            rightElement.style.display = 'flex'
        }
        else {
            rightElement.style.display = 'none'
        }
    })
    
</script>
<script src="/JS/navbar.js"></script>
<script src="/JS/theme.js"></script>