<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/attendenceCss/attendece_port.css">
</head>


<body>
    <%- include('../includes/navbar.ejs') %>


        <div class="main">
            <h1 class="heading">Lectures in Different Classes</h1>

            <div class="lectures">


                <% for( let i=0; i < lectures.length; i++ ) { %>

                    <div class="card">
                        <div class="subjectname">
                            <h2>Subject:</h2>
                            <h3>
                                <%= lectures[i].course %>
                            </h3>
                        </div>

                        <div>

                            <p class="className"><strong>Department:</strong>
                                <%= lectures[i].department.department_name %>
                            </p>
                            <p class="className"><strong>Batch:</strong>
                                <%= lectures[i].batch %>
                            </p>
                            <p class="className"><strong>Semester:</strong>
                                <%= lectures[i].semester_no %>
                            </p>


                        </div>

                        <% if (lectures[i].last_attendence_data!=current_date) { %>
                            <a href="/attendence/lecture/<%= lectures[i]._id %>" class="btns attendance_btn">Take
                                Attendence</a>
                            <% } else { %> <button class="btns attendance_btn">Take
                                    Attendence</button>
                                <% }%>

                                    <div class="previous_taken_date">
                                        <img src="../../images/checkrm.png" class="checklogo" alt="taken at">
                                        <span class="date">
                                            <%= lectures[i].last_attendence_data %>
                                        </span>
                                    </div>
                    </div>
                    <% } %>




            </div>

        </div>

</body>

</html>