<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/CSS/attendenceCss/student_attendence.css">
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

        <% if (Students.length>0) { %>


            <div class="attendenceContainer">

                <div class="upper_header">
                    <div class="left_header">
                        <h4><span>Department:</span> <%= Students[0].department.department_name %>
                        </h4>
                        <h4><span>Batch:</span>  <%= Students[0].batch %>
                        </h4>
                    </div>
                    <div class="right_header">
                        <div class="student_count">

                            <h4>Attendence done</h4>
                            <h6>
                                <span class="total_students">
                                    <%= Students.length %>/
                                </span>
                                <span class="text_second_part">0</span>
                            </h6>
                        </div>
                        <!-- <div class="no_of_classes">
                            <h4>Select No of Classes</h4>
                            <select name="no_of_classes" class="select_box">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div> -->

                    </div>
                </div>

                <form action="/attendence" method="post" class="form">
                      <div class="no_of_classes">
                            <h4>Select No of Classes</h4>
                            <select name="no_of_classes" class="select_box">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>

                    <% for( let i=0; i < Students.length; i++ ) { %>

                        <div class="attendenceCard">
                            <img src="<%= Students[i].profileImg %>" class="attendce_student_profile" alt="pic">
                            <h4 class="studname">
                                <%= Students[i].username %>
                            </h4>
                            <fieldset class="radio-container">
                                <input type="radio" name="attendenceStudent[<%= i %>][status]" value="P"
                                    id="status<%=i%>1" class="status_button" onchange="checkedOption(this)">

                                <label for="status<%=i%>1" class="status_label label1">P</label>

                                <input type="radio" name="attendenceStudent[<%= i %>][status]" value="A"
                                    id="status<%=i%>2" class="status_button" onchange="checkedOption(this)">


                                <label for="status<%=i%>2" class="status_label label2">A</label>

                                <input type="radio" name="attendenceStudent[<%= i %>][status]" value="L"
                                    id="status<%=i%>3" class="status_button" onchange="checkedOption(this)">


                                <label for="status<%=i%>3" class="status_label label3">L</label>

                                <input type="text" value="<%= Students[i]._id %>"
                                    name="attendenceStudent[<%= i %>][studId]" style="display: none;">

                                <input type="text" value="<%= lecture._id%>" name="lectureId" style="display: none;">

                            </fieldset>

                        </div>
                        <% } %>

                            <input type="date" value="<%= date %>" name="Date" style="display: none;">
                            <button class="submit_btn" type="button" >submit</button>


                </form>
            </div>

            <% } else { %>
                <h2 class="shownMessageDiv">Having no Any student in this Batch</h2>
                <% } %>

        <script src="/public/JS/attendenceJS/student_attendence.js"></script>
</body>

</html>