<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .attendenceCard {
            width: 200px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--bg-color);
            box-shadow: var(--alertBoxShadow);
            border-radius: 8px;
        }

        .attendce_student_profile {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            object-fit: contain;
        }

        .radio-container {
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 5px;
            border: none;
        }

        /* Hide the default radio button appearance */
        .status_button {
            display: none;
        }

        /* Custom circle styling */
        .status_label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            background-color: var(--bg-color);
            box-shadow: var(--alertBoxShadow);
            border-radius: 50%;
            cursor: pointer;
            transition: transform 0.3s, background-color 0.3s;
            font-family: Arial, sans-serif;
            font-size: 14px;
            text-align: center;
            font-weight: 800;
            color: var(--sidebutton-color);
        }

        /* Change color and scale on hover */
        .status_label:hover {
            /* #007bff */

            color: white;
            transform: scale(1.1);
        }

        .label1:hover {
            background-color: #28a745;
        }

        .label2:hover {
            background-color: red;
        }

        .label3:hover {
            background-color: yellow;
            color: black;
        }


        /* Change background when selected */
        .status_button:checked+.label1 {
            background-color: #28a745;
            color: white;
            /* color: white; */
        }

        .status_button:checked+.label2 {
            background-color: red;
            color: white;
        }

        .status_button:checked+.label3 {
            background-color: yellow;
            color: black;
        }



        .studname {
            color: var(--sidebutton-color);
            margin: 10px 0px;
        }
        .attendenceContainer{
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
        }
        .upper_header{
            display: flex;
            justify-content: space-between;
        }
        .left_header{
            display: flex;
        }
        .upper_header h4{
            margin: 0px 10px;
            color:var(--sidebutton-color) ;
        }
        .text_second_part{
            color: var(--tableColor);
        }
        .total_students{
            color: var(--sidebutton-color);
            margin-left: 10px;
        }
        .submit_btn{
            background-color: var(--tableColor);
            color: white;
            padding: 10px;
            border-radius: 4px;
            border: none;
            margin: 20px 0px;
        }
        
    </style>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

        <div class="attendenceContainer">
            
        <div class="upper_header">
            <div class="left_header">
                <h4>Class:<%= lecture.CorrespondClass %></h4>
                <h4>Section: <%= Students[0].section %></h4>
            </div>
            <div class="right_header">
                <h4>Attendence done</h4>
                <span class="total_students"><%= Students.length %>/</span>
                <span class="text_second_part">0</span>
            </div>
        </div>
       
        <form action="/attendence" method="post">
        

            <% for( let i=0; i < Students.length; i++ ) { %>

                <div class="attendenceCard">
                    <img src="<%= Students[i].profileImg %>" class="attendce_student_profile" alt="pic">
                    <h4 class="studname">
                        <%= Students[i].username %>
                    </h4>
                    <fieldset class="radio-container">
                        <input type="radio" name="attendenceStudent[<%= i %>][status]" value="P" id="status<%=i%>1"
                            class="status_button" onchange="checkedOption(this)">

                        <label for="status<%=i%>1" class="status_label label1">P</label>

                        <input type="radio" name="attendenceStudent[<%= i %>][status]" value="A" id="status<%=i%>2"
                            class="status_button" onchange="checkedOption(this)">


                        <label for="status<%=i%>2" class="status_label label2">A</label>

                        <input type="radio" name="attendenceStudent[<%= i %>][status]" value="L" id="status<%=i%>3"
                            class="status_button" onchange="checkedOption(this)">


                        <label for="status<%=i%>3" class="status_label label3">L</label>

                        <input type="text" value="<%= Students[i]._id %>" name="attendenceStudent[<%= i %>][studId]"
                            style="display: none;">

                        <input type="text" value="<%= lecture._id%>" name="lectureId"
                            style="display: none;">

                       
                    </fieldset>

                </div>
                <% } %>

                <input type="date" value="<%= date%>" name="Date"
                style="display: none;">
            <button class="submit_btn">submit</button>


        </form>
    </div>
    <script>
       document.querySelectorAll("input[type='radio']")
        let TakeAttendence_student=0
        function checkedOption(element){
            const name_value=element.getAttribute('name')
            const allnamed_radio=document.querySelectorAll(`input[name='${name_value}']`)
            console.log("hello word")
            allnamed_radio.forEach(radio => {
                radio.removeAttribute("onchange");
            });

            ++TakeAttendence_student;
            document.querySelector('.text_second_part').innerHTML=TakeAttendence_student;
        }

    </script>
</body>

</html>