<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Card</title>
    <link rel="stylesheet" href="/CSS/studentCss/studentprofile.css">
    <link rel="stylesheet" href="/CSS/table.css">
    

</head>

<body>
    <%- include('../includes/navbar.ejs') %>
        <div class="container">
            <div class="card user-card">
                <div class="profile-section">
                    <div class="profile-details text-center">
                        <img src="<%= data.profileImg %>" alt="User Profile" class="profile-img">
                        <h6 class="Name">
                            <%= data.username %>
                        </h6>
                        <p class="designation">
                            <%= data.gender %>
                        </p>
                        
                                        <% if (itself.Role!='Admin' &&  (itself.information._id).toString() == (data._id).toString()) { %>

                                            <i class="icon-edit" onclick="showUploader()">&#9998;</i>
                                            <form action="/student/<%= data.id %>/pic?_method=PATCH" method="post"
                                                enctype="multipart/form-data" class="profileImg_Form">
                                                <input type="file" name="profileImg" id="profileInput"
                                                    accept=".jpg, .png, .jpeg" onchange="CheckImg()">
                                            </form>
                                            <% } %>
                    </div>
                   
                </div>

                <div class="info-section">
                    <div class="info">
                        <h6>Information</h6>
                        <div class="info-row">
                            <div>
                                <p>Father</p>
                                <h6>
                                    <%= data.father_name %>
                                </h6>
                            </div>
                            <div>
                                <p>Date Of Birth</p>
                                <h6>
                                    <%= correctdate %>
                                </h6>
                            </div>
                        </div>
                        <div class="info-row">
                            <div>
                                <p>Cnic</p>
                                <h6>
                                    <%= data.identity.cnic %>
                                </h6>
                            </div>
                            <div>
                                <p>Phone</p>
                                <h6>0<%= data.phone %>
                                </h6>
                            </div>
                        </div>

                    </div>
                    <div class="projects">
                        <h6>Academic</h6>
                        <div class="info-row">
                            <div>
                                <p>class</p>
                                <h6>
                                    <%= data.department.department_name %>
                                </h6>
                            </div>
                            <div>
                                <p>Section</p>
                                <h6>
                                    <%= data.batch %>
                                </h6>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <section>
            <h1 class="h1">Attendence In Various Subjects<h1>
                    <div class="filter_data_section">
                        <table>
                            <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Abset</th>
                                    <th>Present</th>
                                    <th>Leave</th>
                                    <th>Percentage</th>
                                    <th>Total Classes</th>

                                </tr>
                            </thead>

                            <tbody>

                                <% for( let i=0; i <attendenceRecord.length; i++ ) { %>

                                    <tr>
                                        <td data-title='Provider Name'>
                                            <i class="fa-regular fa-id-badge"></i></i>
                                            <%= attendenceRecord[i].courseName %>
                                        </td>
                                        <td data-title='E-mail'>
                                            <%= attendenceRecord[i].absent %>

                                        </td>
                                        <td data-title='E-mail'>
                                            <%= attendenceRecord[i].present %>

                                        </td>
                                        <td data-title='E-mail'>
                                            <%= attendenceRecord[i].leave %>

                                        </td>
                                        <td data-title='E-mail'>

                                            <%= attendenceRecord[i].attendancePercentage %>%
                                        </td>
                                        <td data-title='E-mail'>

                                            <%= attendenceRecord[i].totalClasses %>
                                        </td>
                                    </tr>

                                    <% } %>



                            </tbody>
                        </table>

                    </div>

        </section>


        <script>
            let file_input = document.getElementById('profileInput')
            let profileForm = document.querySelector('.profileImg_Form')
            function showUploader() {
                file_input.click()
            }

            function CheckImg() {
                let file = file_input.value
                if (file != "") {
                    profileForm.submit()
                }
            }
        </script>
</body>

</html>